@{
    ViewBag.Title = "戀戀台3線、暢遊全台灣";
}

<div class="slideshow" style="position:relative;" >
    <img width="1148" height="820" style="left: 0px; top: 0px; display: none; position: absolute; z-index: 0; opacity: 0;" 
         src="http://kdoudou.weebly.com/uploads/1/2/1/2/12124601/9853601_orig.jpg">
    <img width="1148" height="820" style="left: 0px; top: 0px; display: none; position: absolute; z-index: 0; opacity: 0;"
         src="https://c1.staticflickr.com/5/4314/35377342094_2628e77494_k.jpg">
    <img width="1148" height="820" style="left: 0px; top: 0px; display: none; position: absolute; z-index: 0; opacity: 0;"
         src="http://lh6.googleusercontent.com/_nCDN0jlHutA/TUOBOPQuIqI/AAAAAAAANYw/RzXRBWW4OSo/s1024/DSC12108.JPG">
    <img width="1148" height="820" style="left: 0px; top: 0px; display: block; position: absolute; z-index: 0; opacity: 1;"
         src="http://www.tfdf.org.tw/Uploads/Item/328be8b4-6c17-48b0-8e6f-282489839d42.jpg">
    <img width="1148" height="820" style="left: 0px; top: 0px; display: block; position: absolute; z-index: 0; opacity: 1;"
         src="https://farm5.staticflickr.com/4320/36213181365_f60a2edd7d_o.jpg">
    <img width="1148" height="820" style="left: 0px; top: 0px; display: block; position: absolute; z-index: 0; opacity: 1;"
         src="https://farm5.staticflickr.com/4330/36213181515_b701553fb1_o.jpg">
</div>

<div class="row">
    <h1 align="center">平台價值</h1>
</div>
<div class="Introduction_content">
    <div class="col-sm-1">
        </div>
    <div class="col-sm-10">
        <h3 align="center">
            結合網路行銷與行程規劃，讓更多的人瞭解<strong>『台山線』</strong>之美。
        </h3>
</div>
    <div class="col-sm-1">
</div>
    </div>



@*FB直播影片*@
<div id="advertisement">
    <button type="button" class="btn btn-link" style="z-index:99;position: relative;color:black;" id="close_ad"><span class="glyphicon glyphicon-remove">關閉影片</span></button>
    <a href="#/" style="z-index:99;position: relative;"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100000326683866%2Fvideos%2F1710334658987407%2F&show_text=0&width=225" width="225" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></a>
</div>
@*//FB直播影片*@





<div class="col-sm-12">
        <div class="col-sm-4">
            <hr style="margin-bottom:5px !important; margin-top:5px !important; border: 0; height: 2px; background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc); ">
            <h1><span class="glyphicon glyphicon-calendar">遊程</span></h1>
            <h4>
                <li style="line-height:200%"><a href="~/Plan/plan1"style="color:black" >懷舊北苗栗DIY一日微旅行</a></li>
                <li style="line-height:200%"><a href="~/plan/plan2"style="color:black">富興北苗栗回甘茶韻香一日微旅行</a></li>
                <li style="line-height:200%"><a href="~/plan/plan3"style="color:black">樂活南苗栗客家古道鐵馬道一日微旅行</a></li>
             </h4>
       </div>
        <div class="col-sm-4">
            <hr style="margin-bottom:5px !important; margin-top:5px !important; border: 0; height: 2px; background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc); ">
            <h1><span class="glyphicon glyphicon-fire">理念</span></h1>
            <h4 >
                <li style="line-height:200%"><strong>避免規劃方案與既有路線衝突</strong></li>
                <li style="line-height:200%"><strong>考行動通訊資料數據</strong></li>
                <li style="line-height:200%"><strong>行程起迄點必須連結主要交通節點</strong></li>
            </h4>
         </div>
        <div class="col-sm-4">
            <hr style="margin-bottom:5px !important; margin-top:5px !important; border: 0; height: 2px; background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc); ">
            <h1><span class="glyphicon glyphicon-star">創新</span></h1>
            <h4>
                <li style="line-height:200%"><strong>直播推廣</strong><span class="glyphicon glyphicon-facetime-video"></li class="contact-info">
                <li style="line-height:200%"><strong>郵輪巴士</strong></li>
                </h4>
        </div>
    </div>
</div>



