@{
    ViewBag.Title = "戀戀台3線、暢遊全台灣";
}

<div class="slideshow" style="position:relative;" >
    <img width="1148" height="820" style="left: 0px; top: 0px; display: none; position: absolute; z-index: 0; opacity: 0;" 
         src="http://kdoudou.weebly.com/uploads/1/2/1/2/12124601/9853601_orig.jpg">
    <img width="1148" height="820" style="left: 0px; top: 0px; display: none; position: absolute; z-index: 0; opacity: 0;"
         src="https://lh3.googleusercontent.com/LIA46CKyywhYJlPXfkBvQEoAAFHD3u38Gq4z3fnWD2uJwsRMus9aLLIyEjrjElx3Yq2_VBh1FFkCqXo8VAenVa6JIGs3DqG9zIuCiR9xgLGNOwhX0IWzI3ef6yLvdtYZvkwXmlnS2F41xa4i3N0pnYoLC4UPcK9Aa9eh3Nj2EOD6zzzflHdgrIv6XG5YDTgCMebeMYj4LMQpd7XPGKF8WRC9q9VHycpzadkyWp6MnQm-9wx9KHt6wXwoJDdzMO2uw4kOq0yLFB4INSv88_Qwpktin9ArIssXjahUDVTnIXvT27HLEIliVplqKMAe6NEpYA1rrjfMn7uwZAy-xYZU4iWmwCmbevAdXYlsgZtdn82qXQzlSc8VXII1DtfeGuNkBm9QKrxUDRqpZ2fYxk91yrbrFf2Y3wT23CHk98W-GezOhoxRpYMr98493YmMf2jcaGu1eB0ocSpRsvYfc5vMGLJspVrjeMXSFm4M4FUzYpmID80BMbgynaLsh45oLaVew0HU-vLdXG7OCmEQ7Z9Vvfm5mSk_ZEC4OM50lXKTKBOLS8lL0m4Ff596jb_vWOCaB0GZRWycpUP8rtv5p6oTIPTgU_39S1OmIhmp8Da0SOUwD6AmAI0_nQeiNg=w883-h662-no">
    <img width="1148" height="820" style="left: 0px; top: 0px; display: none; position: absolute; z-index: 0; opacity: 0;"
         src="http://lh6.googleusercontent.com/_nCDN0jlHutA/TUOBOPQuIqI/AAAAAAAANYw/RzXRBWW4OSo/s1024/DSC12108.JPG">
    <img width="1148" height="820" style="left: 0px; top: 0px; display: block; position: absolute; z-index: 0; opacity: 1;"
         src="http://www.tfdf.org.tw/Uploads/Item/328be8b4-6c17-48b0-8e6f-282489839d42.jpg">
</div>



<div class="row">
    <h1 align="center">平台理念</h1>
</div>
<div class="Introduction_content">
    <div class="col-sm-1">
        </div>
    <div class="col-sm-10">
        <h3 align="center">
            本平台希望結合網路行銷與行程規劃，讓更多的人瞭解<strong>『台山線』</strong>之美。
        </h3>
</div>
    <div class="col-sm-1">
</div>
    </div>


<div class="col-sm-12">
        <div class="col-sm-4">
            <hr style="margin-bottom:5px !important; margin-top:5px !important; border: 0; height: 2px; background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc); ">
            <h1>完整行程<span class="glyphicon glyphicon-time"/></h1>
            <a href="~/Plan/plan1"><h4 style="line-height:200%">懷舊北苗栗DIY一日微旅行</h4></a>
            <a href="~/plan/plan2"><h4 style="line-height:200%">富興北苗栗回甘茶韻香一日微旅行</h4></a>
            <a href="~/plan/plan3"><h4 style="line-height:200%">樂活南苗栗客家古道鐵馬道一日微旅行</h4></a>
       </div>
        <div class="col-sm-4">
            <hr style="margin-bottom:5px !important; margin-top:5px !important; border: 0; height: 2px; background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc); ">
            <h1>理念</h1>
         </div>
        <div class="col-sm-4">
            <hr style="margin-bottom:5px !important; margin-top:5px !important; border: 0; height: 2px; background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc); ">
            <h1>創新</h1>
        </div>
    </div>
</div>



