@{
    ViewBag.Title = "新竹黑客松公開資料";
}


<div class="col-sm-12" style="line-height:1000%">
    <style>
        .embed-container {
            position: relative;
            padding-bottom: 80%;
            height: 0;
            max-width: 100%;
        }

            .embed-container iframe, .embed-container object, .embed-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 75%;
            }

        small {
            position: absolute;
            z-index: 40;
            bottom: 0;
            margin-bottom: -15px;
        }
    </style><div class="embed-container">
        <iframe width="100%" height="600" src="~/Map/OpenLayersControl.html" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

